:root{
    /* ------ | 🎨 COLORS | ------ */

    /* ------ | 📐 DIMENSIONS | ------ */
    --document-height: 100vh;
    --document-width: 100vw; 

    /* ------ | ✒️ TYPOGRAPHY | ------ */
    --font-family: 'Inter', sans-serif;
    --font-size: 1rem; /* Fallback */
    --font-size: 2.5vh;
    --icon-size: 3vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    font-family: var(--font-family);
    font-size: var(--font-size);
    height: var(--document-height);
    max-width: var(--document-width);
    text-align: center;
}

.position-absolute {
    position: absolute;

}

.center-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone-template {
    height: 100%;
}

.phone-template img {
    height: 100%;
    z-index: 10000;
}

.screen {
    background-color: red;
    border-radius : 7vh;
    height: calc(100% - 2.8vh);
    opacity: 0.5;
    padding-top: 7vh;
    transform: rotate(5deg);
    width: calc(100% - 1.5vw);
    z-index: -1;
}